* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(247, 188, 176);
}

.container {
  background-color: rgb(101, 139, 254);
  height: 90%;
  width: 90vw;
  margin: 1rem 0;
  box-shadow: 5px 5px black;
}

@media (min-width: 48em) {
  .container {
    height: 90vh;
    min-height: 650px;
    width: 60vw;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-jc-sb {
  justify-content: space-between;
}

.f-jc-c {
  justify-content: center;
}

.title {
  font-family: "Turret Road", cursive;
  font-size: 3rem;
  word-spacing: 1px;
  color: floralwhite;
}

span {
  font-size: 1.5rem;
}

.placeholder {
  font-family: "Press Start 2P", cursive;
  letter-spacing: 0.5rem;
  color: rgb(208, 34, 0);
  background-color: rgb(254, 154, 51);
  padding: 1rem;
  border: 3px solid black;
}

.reserved-place {
  height: 60px;
}

.feedback {
  font-style: italic;
}

.letters {
  letter-spacing: 0.5rem;
  font-family: "Turret Road", sans-serif;
}

label {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

input,
button {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 2rem;
  width: 30%;
  margin-bottom: 1rem;
}

input {
  outline: 3px solid black;
}

input:focus {
  outline: 3px solid rgb(254, 154, 51);
}

button {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  color: floralwhite;
  padding-top: 0.75rem;
  border: none;
  background-color: rgb(208, 34, 0);
  box-shadow: 5px 5px black;
}

button:hover {
  box-shadow: inset 3px 3px rgb(254, 154, 51), 5px 5px black;
}

button:active {
  box-shadow: inset 3px 3px rgb(254, 154, 51);
  transform: translate(4px, 4px);
}
