* {
  box-sizing: border-box;
}

.container {
  border: 1px solid lightseagreen;
  height: 90vh;
  width: 90vw;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid green;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-jc-sb {
  justify-content: space-between;
}

@media (min-width: 48em) {
  .container {
    height: 70vh;
    width: 50vw;
  }
}

.title {
  font-family: 'Turret Road', cursive;
  font-size: 3rem;
  word-spacing: 1px;
}

span {
  font-size: 1rem;
}

.placeholder {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.5rem;
}

label {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

input, button {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 2rem;
  width: 30%;
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
}
